<footer class="bg-light text-center py-4">
    <div class="container">
        <div class="mb-3">
            &copy; 2024 Francesco
        </div>
        <p class="mb-1">Email: <a href="mailto:francescospatuzza1998@gmail.com">francescospatuzza1998@gmail.com</a></p>
        <p class="mb-1">Tel: <a href="tel:+4917641351737">+49 176 41351737</a></p>
        <p>Contattaci e ordina una pizza da noi, ti aspettiamo!</p>
    </div>
</footer>
