<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/chi-siamo">Chi Siamo</a></li>
        </ul>
    </nav>
</header>