body {
    font-family: 'Merriweather', serif; 
    background-color: #f5f5dc; 
}

.menu-container {
    background-color: #f5f5dc; 
    min-height: 100vh; 
    padding: 20px;
    position: relative;
}

.decoration-top, .decoration-bottom {
    position: absolute;
    width: 100%;
    height: 50px;
    background: repeating-linear-gradient(
        45deg,
        #8b4513,
        #8b4513 10px,
        transparent 10px,
        transparent 20px
    );
}

.decoration-top {
    top: 0;
    left: 0;
    border-radius: 0 0 50% 50%;
}

.decoration-bottom {
    bottom: 0;
    left: 0;
    border-radius: 50% 50% 0 0;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input.form-control:focus {
    border-color: #8b4513; 
    box-shadow: 0 0 0 0.25rem rgba(139, 69, 19, 0.5); 
    outline: none; 
}


.menu-title {
    font-family: 'Playfair Display', serif; 
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
}

ul.list-unstyled li {
    padding: 15px;
    transition: transform 0.3s ease-in-out;
}

ul.list-unstyled li:hover {
    transform: scale(1.02);
}

p {
    margin: 0;
    font-family: 'Merriweather', serif; 

}

h4 {
    font-family: 'Playfair Display', serif; 
    font-weight: 700; }

    