<main class="container my-5">
    <h2 class="text-center">Aggiungi una Nuova Pizza al Menu</h2>
    
    <form action="/admin/modifica/add" method="post" class="bg-light p-4 rounded shadow">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" required>
        </div>
        <div class="form-group">
            <label for="prezzo">Prezzo (€)</label>
            <input type="number" class="form-control" name="prezzo" id="prezzo" required>
        </div>
        <div class="form-group">
            <label for="ingredienti">Ingredienti</label>
            <input type="text" class="form-control" name="ingredienti" id="ingredienti" required>
        </div>
        <div class="text-center">
            <input type="submit" value="Inserisci nel menu" class="btn btn-primary">
        </div>
    </form>

    <div class="text-center mt-4">
        <button class="btn btn-secondary">
            <a href="/admin/modifica" class="text-white">Torna indietro</a>
        </button>
    </div>
</main>
