<main>
<form action="/admin/modifica/add" method="post">
    <div>
        <label for="nome">Nome</label>
        <input type="text" name="nome">
    </div>
    <div>
        <label for="prezzo">Prezzo</label>
        <input type="number" name="prezzo">
    </div>
    <div><label for="ingredienti">ingredienti</label>
        <input type="text" name="ingredienti">
    </div>
    <div>
        <input type="submit" value="Inserisci nel menu">
    </div>
</form>

    <button><a href="/admin/modifica">Torna indietro</a></button>

</main>