<main class="container my-5">
    <h2 class="text-center">Elimina una Pizza dal Menu</h2>
    
    <form action="/admin/modifica/delete" method="post" class="bg-light p-4 rounded shadow">
        <div class="form-group">
            <label for="pizzaNome">Quale pizza vuoi eliminare?</label>
            <select id="pizzaNome" name="pizzaNome" class="form-control" required>
                <option value="" disabled selected>Seleziona una pizza</option>
                <% pizze.forEach(pizza => { %>
                    <option value="<%= pizza.nome %>"><%= pizza.nome %></option>
                <% }); %>
            </select>
        </div>

        <div class="text-center">
            <input type="submit" value="Elimina la pizza dal menu" class="btn btn-danger">
        </div>
    </form>

    <div class="text-center mt-4">
        <button class="btn btn-secondary">
            <a href="/admin/modifica" class="text-white">Torna indietro</a>
        </button>
    </div>
</main>
