<main>
    <h2>Benvenuti alla Pizzeria La Dolce Vita</h2>
    <img src="/images/img.png" alt="Immagine della Pizzeria La Dolce Vita">
    <p>Scopri la nostra deliziosa offerta di pizze fatte con ingredienti freschi e locali.</p>
    <p>Un'esperienza unica che ti porterà direttamente nel cuore della cucina napoletana.</p>
</main>
